

html, body {

    height: 100%;
    margin: 0;
}

body {

    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.caixa {

    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
   

}
header {

     
    display: flex; 
    padding: 10px;
      
}

h1 img {

    height: 80px;
}

hr {

    border: 0,5px solid #1b357e;
}

nav {

    display: flex;
    align-items: center;
    
    
    
}

nav li {

    
    display: inline;
    padding-top: 70px;
    margin: 15px;
   
    
 
}

nav a {

    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: #1b357e;
}

nav a:hover {

    color: #0033CC ;
}



main {

    width: 100%;
    flex: 1;

}

main iframe {

    width: 100%;
    height: 650px;
    display: block;
    border: none;

    
    
}

main p {

    
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px 140px; 
    font-size: 20px;
 

    
}


main h2 {

    font-family: Arial, Helvetica, sans-serif;
}


.divCarros{

    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 35px;

    list-style: none;
    padding: 30px 0;
    margin: 0;
}

.divCarros li{

    width: 300px;
}

.divCarros li img:first-child{

    width: 250px;
    display: block;
    margin: auto;
}

.descricao{

    display: flex;
    align-items: flex-start;
    margin-top: 8px;
}

.descricao input{

    margin-top: 3px;
    margin-right: 5px;
}

.texto{

    flex: 1;
}

.texto h2{

    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: #1b357e;
    margin: 0;
    font-weight: normal;
}

.texto p{

    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 2px 0 0 0;
}

.info{

    width: 20px;
    height: 20px;
    margin-left: 5px;
    margin-top: 3px;
}

.botaoComparar{

    text-align: center;
    margin: 20px 0;
}



#comparar{

    width: 180px;
    height: 45px;
    background: #0033cc;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 15px;
    cursor: pointer;
}

#comparar:hover {

    width: 230px;
    font-size: 20px;
}




footer {


   
    background-color: #1b357e;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;

}

@media (max-width: 480px) {

    h1 img  {


        height: 50px;
    }

    .divCarros {

        flex-direction: column;
        align-items: center;
    
    }

    .divCarros li {

        width: 250px;
    }

    nav li {

        margin: 2px;
    }

    main p {

        margin: 20px;
    }

    footer {

        flex-direction: column;
    
    
    }

  

}

footer div {

    
    flex: 20%;

}

.divRedes {

    display: flex;
    align-items: center;
    gap: 5px;
    margin: 10px;
}






